# =========================
# Transactions Deployment
# =========================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: transactions-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transactions
  template:
    metadata:
      labels:
        app: transactions
    spec:
      containers:
      - name: transactions
        image: dimitartrj/transactions-service:latest
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_DATA_MONGODB_URI
          value: mongodb://transactions-mongo-service:27017/transactionsdb

---
# =========================
# Transactions Service
# =========================
apiVersion: v1
kind: Service
metadata:
  name: transactions-service
spec:
  type: ClusterIP
  selector:
    app: transactions
  ports:
  - port: 8080
    targetPort: 8080
