# =========================
# Transactions Deployment
# =========================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: transactions-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transactions
  template:
    metadata:
      labels:
        app: transactions
    spec:
      containers:
      - name: transactions
        image: prporegistry.azurecr.io/transactions-service:latest
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_DATA_MONGODB_URI
          value: mongodb://transactions-mongo-service:27017/transactionsdb

---
# =========================
# Transactions Service
# =========================
apiVersion: v1
kind: Service
metadata:
  name: transactions-service
spec:
  type: ClusterIP
  selector:
    app: transactions
  ports:
  - port: 8080
    targetPort: 8080


---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: transactions-hpa
  namespace: prpo-microservices
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: transactions-deployment   # your deployment name
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
